* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.center-text {
    text-align: center;
    flex-grow: 1;
}

.description p {
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
}

.desc-image {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 80%;
    margin: 0 auto 50px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.list-of-links {
    text-align: center;
    margin-top: 200px;
}

.button {
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
    color: white;
    background-color: #1f37c2;
    padding: 15px 32px;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 10px 5px -1px, rgba(0, 0, 0, .14) 0 6px 1px 0px, rgba(0, 0, 0, .12) 0 10px 1px 0;
}

#back-image {
    transform: scale(0.25);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin-bottom: 15px;
}

.spacer {
    width: 200px;
}

.dropdown-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.dropdown-buttons button {
    margin: 10px auto 10px auto;
}

.first-case-tool-content,
.second-case-tool-content,
.third-case-tool-content {
    text-align: center;

}

.first-case-tool-content img,
.second-case-tool-content img,
.third-case-tool-content img {
    margin: 20px auto;
    width: 1000px;
}

.first-case-tool-content p,
.second-case-tool-content p,
.third-case-tool-content p {
    max-width: 40%;
    margin: 20px auto 50px auto;  
}

.first-case-tool-content ul,
.second-case-tool-content ul,
.third-case-tool-content ul {
    margin: 20px auto 50px auto;  
}

.first-case-tool-content li,
.second-case-tool-content li,
.third-case-tool-content li {
    margin: 10px auto 10px auto;  
}






